<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>phpIndy</title>
    <!-- Latest compiled and minified CSS & JS -->
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>phpIndy</h1>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Line Message (max1000) :</label>
                <div class="col-sm-10">
                    <textarea name="message" class="form-control" style="width:90%" required="required" rows="4" cols="50">

                    </textarea>
                </div>
            </div>
        </div <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">Sticker Package Id</label>
                <div class="col-sm-10">
                    <input type="number" name="stickerpackage" class="form-control" value="0" min="0" max="255" step="1" required="required">
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="form-group ">
                <label class="col-sm-2 control-label">Sticker ID</label>
                <div class="col-sm-10 ">
                    <input type="number" name="stickerpackage" class="form-control" value="0" min="0" max="255" step="1" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="col-sm-2 control-label">Image File</label>
            <div class="col-sm-10">
                <input type="file" name="image" class="form-control" />
            </div>
        </div>
    </div>
    <div style="display:flex">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="width: 70%;">
            &nbsp;
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <input type="button" value="Send Message" />
        </div>
    </div>
    <hr/>

    <div class="row">

        <div class="form-group">
            <label class="col-sm-2 control-label">Status:</label>
            <div class="col-sm-10">
                <textarea name="message" class="form-control" style="width:90%" required="required" rows="4" cols="50">

                 </textarea>
            </div>
        </div>
    </div>
    </div>
    <!-- container -->
</body>

</html>