.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
linenitify.zip
phpIndy-darwin-x64/
src.x/
yarn.lock
vueline.html
line.js
/build/vueNofity*
push.bat
pull.bat

